{% set pagetitle ="Create a new campaign - Select and Invite" %}

{% extends 'layout.html' %}
{% block header %}
{% include 'foundations/header-signed-in.html' %}
{% endblock %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  {{ pagetitle }}
{% endblock %}


{% block outerContent %}
  {{ backLink({
    "href": "javascript:window.history.back()",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

<!-- {% if data['change'] == 'dates' %}
{% set action = 'summary' %}
{% endif %} -->

<!--
      <form action="summary" method="post">




        <div>

          <span class="nhsuk-caption-l nhsuk-caption--top" for="fromDate">Start</span>
          <input datetimeformat="dd/mm/yyyy" style="border:1px solid lightgrey;width:240px;height:40px;font-size:24px;background:white;margin-top:10px"  value="{{ data['fromDate']}}" type="date" placeholder="dd-mm-yyyy" id="fromDate" name="fromDate">


        </div>

        <div>

          <span class="nhsuk-caption-l nhsuk-caption--top" for="toDate">End</span>
          <input datetimeformat="dd/mm/yyyy" style="border:1px solid lightgrey;width:240px;height:40px;font-size:24px;background:white;margin-top:10px"  value="{{ data['toDate']}}" type="date" placeholder="dd-mm-yyyy" id="toDate" name="toDate">


        </div>

        {{ button({
          text: "Continue"
        }) }}
      </form> -->

      <h1>
        What are the campaign dates?
      </h1>

      {% if data['change'] == 'dates' %}
      {% set action = 'summary' %}
      {% else %}
      {% set action = 'summary' %}
      {% endif %}



      <form action="{{ action }}" method="post">

      <div class="nhsuk-grid-row nhsuk-u-padding-bottom-9">
            <div class="nhsuk-grid-column-one-half">

              <span class="nhsuk-caption-l nhsuk-caption--top" for="fromDate">Start</span>
              <input datetimeformat="dd/mm/yyyy" style="border:1px solid lightgrey;width:240px;height:40px;font-size:24px;background:white;margin-top:10px"  value="{{ data['fromDate']}}" type="date" placeholder="dd-mm-yyyy" id="fromDate" name="fromDate">



            </div>

            <div class="nhsuk-grid-column-one-half">

              <span class="nhsuk-caption-l nhsuk-caption--top" for="toDate">End</span>
              <input datetimeformat="dd/mm/yyyy" style="border:1px solid lightgrey;width:240px;height:40px;font-size:24px;background:white;margin-top:10px"  value="{{ data['toDate']}}" type="date" placeholder="dd-mm-yyyy" id="toDate" name="toDate">


              <!-- <span class="nhsuk-caption-l nhsuk-caption--top" for="toDate">End</span>
              <input datetimeformat="dd/mm/yyyy" style="border:1px solid lightgrey;width:240px;height:40px;font-size:24px;background:white;margin-top:10px"  value="{{ data['toDate']}}" type="date" placeholder="dd-mm-yyyy" id="toDate" name="toDate"> -->

            </div>
      </div>




      {{ button({
        text: "Continue"
      }) }}


    </form>

    </div>
  </div>

{% endblock %}
