{% extends 'layout.html' %}


{% block header %}
{% include 'foundations/header-signed-in.html' %}
{% endblock %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}


{% block outerContent %}
  {{ backLink({
    "href": "javascript:window.history.back()",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

<!-- {% if data['change'] == 'dates' %}
{% set action = 'summary' %}
{% endif %} -->

<!--
      <form action="summary" method="post">




        <div>

          <span class="nhsuk-caption-l nhsuk-caption--top" for="fromDate">Start</span>
          <input datetimeformat="dd/mm/yyyy" style="border:1px solid lightgrey;width:240px;height:40px;font-size:24px;background:white;margin-top:10px"  value="{{ data['fromDate']}}" type="date" placeholder="dd-mm-yyyy" id="fromDate" name="fromDate">


        </div>

        <div>

          <span class="nhsuk-caption-l nhsuk-caption--top" for="toDate">End</span>
          <input datetimeformat="dd/mm/yyyy" style="border:1px solid lightgrey;width:240px;height:40px;font-size:24px;background:white;margin-top:10px"  value="{{ data['toDate']}}" type="date" placeholder="dd-mm-yyyy" id="toDate" name="toDate">


        </div>

        {{ button({
          text: "Continue"
        }) }}
      </form> -->
  <!-- <span class="nhsuk-caption-l nhsuk-u-padding-bottom-1">Create a new campaign</span> -->
      <!-- <h1>
        What is the target of campaign?
      </h1> -->



{% from 'radios/macro.njk' import radios %}
{% from 'fieldset/macro.njk' import fieldset %}
{% from 'hint/macro.njk' import hint %}

{% call fieldset({
  legend: {
    "text": "What is the target of campaign?",
    "classes": "nhsuk-fieldset__legend--xl",
    "isPageHeading": true
  }
  }) %}
  {{ hint({
    "text": "Supporting, hinting text lorem ipsum dolor amet sit woofwoof.",
    "classes": "nhsuk-u-margin-bottom-2"
  }) }}
  {{ radios({
    "idPrefix": "targetCampaign",
    "name": "targetCampaign",
    "items": [
  {
    "value": "Covid-19 Spring 2024 Booster",
    "text": "Covid-19 Spring 2024 Booster",
    "hint": {
        "text": "Announced 07 February 2024"
      }
  },
  {
    "value": "Covid-19 Autumn 2024",
    "text": "Covid-19 Autumn 2024",
    "hint": {
        "text": "Healthcare workers and household contacts of immunosuppressed individuals"
      }
  },
  {
    "value": "Seasonal Flu Autumn / Winter 2024",
    "text": "Seasonal Flu Autumn / Winter 2024"
  },
  {
    "value": "Childhood Flu",
    "text": "Childhood Flu"
  }
]
}) }}
{% endcall %}


      {% if data['change'] == 'dates' %}
      {% set action = 'summary' %}
      {% else %}
      {% set action = 'summary' %}
      {% endif %}



      <form action="{{ action }}" method="post">


      {{ button({
        text: "Sand and continue"
      }) }}


    </form>

    </div>
  </div>

{% endblock %}
