

{% set pagetitle ="Task list - create a new campaign - Select and Invite" %}

{% extends 'layout.html' %}
{% block header %}
{% include 'foundations/header-signed-in.html' %}
{% endblock %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  {{ pagetitle }}
{% endblock %}


{% block outerContent %}
  {{ backLink({
    "href": "javascript:window.history.back()",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <span class="nhsuk-caption-l nhsuk-u-padding-bottom-1">Create a new campaign</span>
<h1 class="nhsuk-heading-xl">{{ data['name']|default("Covid-19 Spring 2024 Booster") }}
      <span class="nhsuk-body-l nhsuk-u-padding-top-3">{{ data['fromDate']|shortDate }} - {{ data['toDate']|shortDate}}</span>

</h1>

{% from 'inset-text/macro.njk' import insetText %}

{{ insetText({
  "HTML": "<p>Something important to grasp on this page lorem ipsum dolor amet sit blah.</p>"
}) }}



<h2 class="nhsuk-heading-l">Section heading 1</h2>

<style>

.lines {
  padding:5px;
  border-top:0.5px solid lightgrey;
}

  .linesLast {
    padding:5px;
    border-top:0.5px solid lightgrey;
    border-bottom:0.5px solid lightgrey;
  }

.tagPos {
  float:right;
  right:0;
}

<style>

.lines {
  padding:5px;
  border-top:0.5px solid lightgrey;
}

  .linesLast {
    padding:5px;
    border-top:0.5px solid lightgrey;
    border-bottom:0.5px solid lightgrey;
  }
.tagPos {
  position:relative;
  right:0;
  float:right;
  margin-top:0px;
  border:0;

}

.progress {
  float:right;
  background:#768692;
  color:white;
  font-size:17px;
  padding-left:8px;
  padding-right:8px;

}

.notyet {
  float:right;
  background:#425563;
  color:white;
  font-size:17px;
  padding-left:5px;
  padding-right:5px;
}

.completed {
  float:right;
  font-size:17px;
}



.cannot {
  float:right;
  font-size:17px;
}
}

</style>






{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <span class="nhsuk-caption-l nhsuk-u-padding-bottom-1">Create a new campaign</span>
<h1 class="nhsuk-heading-xl">{{ data['name']|default("Covid-19 Spring 2024 Booster") }}
      <span class="nhsuk-body-l nhsuk-u-padding-top-3">{{ data['fromDate']|shortDate }} - {{ data['toDate']|shortDate}}</span>

</h1>

{% from 'inset-text/macro.njk' import insetText %}

{{ insetText({
  "HTML": "<p>Something important to grasp on this page lorem ipsum dolor amet sit blah.</p>"
}) }}



<h2 class="nhsuk-headingl">Section heading 1</h2>


<ul class="nhsuk-list">
  <li class="lines">Assign people to the campaign
    <strong class="nhsuk-tag nhsuk-tag--grey tagPos">
    Not started
    </strong></li>
  <li class="lines"><a class="nhsuk-link" href="select-cohorts">Select cohorts</a>

    {% if data['selectCohorts'] == 'done' %}
    <strong  class="nhsuk-tag nhsuk-tag--green tagPos">
    Completed
    </strong>
    {% else %}
    <strong  class="nhsuk-tag nhsuk-tag--grey tagPos">
    Not started
    </strong>
    {% endif %}

  </li>
  <li class="linesLast"><a class="nhsuk-link" href="name-dates?editDetails=true">Campaign name and dates</a>
    <strong  class="nhsuk-tag nhsuk-tag--green tagPos">
    Completed
    </strong></li>
</ul>
<h2 class="nhsuk-heading-l">Section heading 2</h2>
<ul class="nhsuk-list">
  <li class="lines"><a class="nhsuk-link" href="task-1">Carry out a task 1</a>
    {% if data['task1'] == 'yes' %}

    <strong class="nhsuk-tag nhsuk-tag--green tagPos">
    Completed
    </strong>

  {% elif data['task1'] == 'no' %}
  <strong class="nhsuk-tag nhsuk-tag--blue tagPos">
    In progress
    </strong>
    {% else %}
    <strong class="nhsuk-tag nhsuk-tag--grey tagPos">
    Not started
    </strong>
{% endif %}
  </li>
  <li class="lines"><a class="nhsuk-link" href="task-2">Carry out a task 2</a>
    {% if data['task2'] == 'yes' %}

    <strong   class="nhsuk-tag nhsuk-tag--green tagPos">
    Completed
    </strong>

    {% elif data['task2'] == 'no' %}
    <strong  class="nhsuk-tag nhsuk-tag--blue tagPos">
    In progress
    </strong>
    {% else %}
    <strong class="nhsuk-tag nhsuk-tag--grey tagPos">
    Not started
    </strong>
    {% endif %}
  </li>
  <li class="linesLast"><a class="nhsuk-link" href="task-3">Carry out a task 3</a>
    {% if data['task3'] == 'yes' %}

    <strong  class="nhsuk-tag nhsuk-tag--green tagPos">
    Completed
    </strong>

    {% elif data['task3'] == 'no' %}
    <strong   class="nhsuk-tag nhsuk-tag--blue tagPos">
    In progress
    </strong>
    {% else %}
    <strong  class="nhsuk-tag nhsuk-tag--grey tagPos">
    Not started
    </strong>
    {% endif %}
  </li>
</ul>









    </div>
  </div>

{% endblock %}

  <!-- <li class="lines"><a class="nhsuk-link" href="name-dates?editDetails=true">Campaign name and dates</a>
        {% if (data['name']|length > 0) and (data['fromDate']|length > 0) %}
        <p class="tagPos">Completed</p>
        {% elif (data['name']|length > 0) or (data['fromDate']|length > 0) %}
        <p class="tagPos">In progress</p>
        {% else %}
        <p class="tagPos">Not yet started</p>
        {% endif %}
  </li> -->

<!--
    <li class="lines"><a class="nhsuk-link" href="select-cohorts">Select cohorts</a>
      {% if data['selectCohorts'] == 'done' %}
      <p class="nhsuk-body completed">Completed</p>
      {% elif  (data['covidCohorts']|length > 0) or (data['under16Cohorts']|length > 0) or (data['immunoCohorts']|length > 0) or (data['fluCohorts']|length > 0) or (data['allCohorts']|length > 0) %}
      <p class="nhsuk-body progress">In progress</p>
      {% else %}
      <p class="nhsuk-body notYetStarted">Not yet started</p>
      {% endif %}
    </li>

    <li class="linesLast">Assign people to the campaign
      <p class="cannotStart">Cannot start yet</p>



    </li>

</ul>
<h2 class="nhsuk-heading-l">Section heading 2</h2>
<ul class="nhsuk-list">
  <li class="lines"><a class="nhsuk-link" href="task-1">Carry out a task 1</a>
    {% if data['task1'] == 'yes' %}

    <strong class="nhsuk-tag nhsuk-tag--green tagPos">
    Completed
    </strong>

  {% elif data['task1'] == 'no' %}
  <strong class="nhsuk-tag nhsuk-tag--blue tagPos">
    In progress
    </strong>
    {% else %}
    <strong class="nhsuk-tag nhsuk-tag--grey tagPos">
    Not started
    </strong>
{% endif %}
  </li>
  <li class="lines"><a class="nhsuk-link" href="task-2">Carry out a task 2</a>
    {% if data['task2'] == 'yes' %}

    <strong   class="nhsuk-tag nhsuk-tag--green tagPos">
    Completed
    </strong>

    {% elif data['task2'] == 'no' %}
    <strong  class="nhsuk-tag nhsuk-tag--blue tagPos">
    In progress
    </strong>
    {% else %}
    <strong class="nhsuk-tag nhsuk-tag--grey tagPos">
    Not started
    </strong>
    {% endif %}
  </li>
  <li class="linesLast"><a class="nhsuk-link" href="task-3">Carry out a task 3</a>
    {% if data['task3'] == 'yes' %}

    <strong  class="nhsuk-tag nhsuk-tag--green tagPos">
    Completed
    </strong>

    {% elif data['task3'] == 'no' %}
    <strong   class="nhsuk-tag nhsuk-tag--blue tagPos">
    In progress
    </strong>
    {% else %}
    <strong  class="nhsuk-tag nhsuk-tag--grey tagPos">
    Not started
    </strong>
    {% endif %}
  </li>
</ul> -->









    </div>
  </div>

{% endblock %}
