{% extends 'layout.html' %}


{% block header %}
{% include 'foundations/header-signed-in.html' %}
{% endblock %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Question page
{% endblock %}


{% block outerContent %}
  {{ backLink({
    "href": "javascript:window.history.back()",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <span class="nhsuk-caption-l nhsuk-u-padding-bottom-1">Create a new campaign</span>
<h1 class="nhsuk-heading-xl">{{ data['name']|default("Covid-19 Spring 2024 Booster") }}
      <span class="nhsuk-body-l nhsuk-u-padding-top-3">{{ data['fromDate']|shortDate }} - {{ data['toDate']|shortDate}}</span>

</h1>

{% from 'inset-text/macro.njk' import insetText %}

{{ insetText({
  "HTML": "<p>Something important to grasp on this page lorem ipsum dolor amet sit blah.</p>"
}) }}

<table class="nhsuk-table">
  <caption class="nhsuk-table__caption">Task list</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        Task
      </th>
      <th role="columnheader" class="" scope="col">
        Status
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><a href="task-1">Carry out a task 1</a></td>

      <td class="nhsuk-table__cell ">
        {% if data['task1'] == 'yes' %}

        <strong class="nhsuk-tag nhsuk-tag--green ">
        Completed
        </strong>

      {% elif data['task1'] == 'no' %}
      <strong class="nhsuk-tag nhsuk-tag--blue ">
        In progress
        </strong>
        {% else %}
        <strong class="nhsuk-tag nhsuk-tag--grey ">
        Not started
        </strong>
  {% endif %}
      </td>

    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><a href="task-2">Carry out a task 2</a></td>
      <td class="nhsuk-table__cell ">

        {% if data['task2'] == 'yes' %}

        <strong class="nhsuk-tag nhsuk-tag--green ">
        Completed
        </strong>

        {% elif data['task2'] == 'no' %}
        <strong class="nhsuk-tag nhsuk-tag--blue ">
        In progress
        </strong>
        {% else %}
        <strong class="nhsuk-tag nhsuk-tag--grey ">
        Not started
        </strong>
        {% endif %}
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><a href="task-3">Carry out a task 3</a></td>
      <td class="nhsuk-table__cell ">

        {% if data['task3'] == 'yes' %}

        <strong class="nhsuk-tag nhsuk-tag--green ">
        Completed
        </strong>

        {% elif data['task3'] == 'no' %}
        <strong class="nhsuk-tag nhsuk-tag--blue ">
        In progress
        </strong>
        {% else %}
        <strong class="nhsuk-tag nhsuk-tag--grey ">
        Not started
        </strong>
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>

<table class="nhsuk-table">
  <caption class="nhsuk-table__caption">{{ data['name']|default("Covid 5-11 Severely Immunosuppressed") }}</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        Task
      </th>
      <th role="columnheader" class="" scope="col">
        Status
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><a href="task-1">Carry out a task 1</a></td>

      <td class="nhsuk-table__cell ">
        {% if data['task1'] == 'yes' %}

        <strong class="nhsuk-tag nhsuk-tag--green ">
        Completed
        </strong>

      {% elif data['task1'] == 'no' %}
      <strong class="nhsuk-tag nhsuk-tag--blue ">
        In progress
        </strong>
        {% else %}
        <strong class="nhsuk-tag nhsuk-tag--grey ">
        Not started
        </strong>
  {% endif %}
      </td>

    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><a href="task-2">Carry out a task 2</a></td>
      <td class="nhsuk-table__cell ">

        {% if data['task2'] == 'yes' %}

        <strong class="nhsuk-tag nhsuk-tag--green ">
        Completed
        </strong>

        {% elif data['task2'] == 'no' %}
        <strong class="nhsuk-tag nhsuk-tag--blue ">
        In progress
        </strong>
        {% else %}
        <strong class="nhsuk-tag nhsuk-tag--grey ">
        Not started
        </strong>
        {% endif %}
      </td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><a href="task-3">Carry out a task 3</a></td>
      <td class="nhsuk-table__cell ">

        {% if data['task3'] == 'yes' %}

        <strong class="nhsuk-tag nhsuk-tag--green ">
        Completed
        </strong>

        {% elif data['task3'] == 'no' %}
        <strong class="nhsuk-tag nhsuk-tag--blue ">
        In progress
        </strong>
        {% else %}
        <strong class="nhsuk-tag nhsuk-tag--grey ">
        Not started
        </strong>
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>


    </div>
  </div>

{% endblock %}
