{% set pagetitle ="Task 3 - Select and Invite" %}

{% extends 'layout.html' %}
{% block header %}
{% include 'foundations/header-signed-in-campaign.html' %}
{% endblock %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  {{ pagetitle }}
{% endblock %}


{% block outerContent %}
  {{ backLink({
    "href": "javascript:window.history.back()",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- {% if data['change'] == 'name' %}
      {% set action = 'summary' %}
      {% else %}
      {% set action = 'dates' %}
      {% endif %} -->



      <form action="task-list" method="post">
  <!-- <span class="nhsuk-caption-l nhsuk-u-padding-bottom-1">Create a new campaign</span> -->
        <h1>
          Task 3
        </h1>


        {% from 'radios/macro.njk' import radios %}

  {{ radios({
    "idPrefix": "task3",
    "name": "task3",
    "fieldset": {
      "legend": {
        "text": "Have you completed this task?",
        "classes": "nhsuk-fieldset__legend--l",
        "isPageHeading": false
      }
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes, I’ve completed this task"
      },
      {
        "value": "no",
        "text": "No, I’ll come back to it later"
      }
    ]
  }) }}

        {{ button({
          text: "Continue"
        }) }}
      </form>



    </div>
  </div>

{% endblock %}
