  <div class="dwp-timeline">
    <h2 class="nhsuk-heading-s">Appointments</h2>
    <ol class="dwp-timeline__events">
      <li class="dwp-timeline__events--entry spacer">
        <h2 class="nhsuk-heading-s headspacer">Head1</h2>
        <p class="spacer">Subhead 1</p>
        <p class="spacer">Subhead 2</p>
      </li>
      <li class="dwp-timeline__events--entry spacer">
        <h2 class="nhsuk-heading-s headspacer">Head1</h2>
        <p class="spacer">Subhead 1</p>
        <p class="spacer">Subhead 2</p>
      </li>
      <li class="dwp-timeline__events--entry spacer">
        <h2 class="nhsuk-heading-s headspacer">Head1</h2>
        <p class="spacer">Subhead 1</p>
        <p class="spacer">Subhead 2</p>
      </li>
    </ol>
  </div>
