{% set pagetitle ="Summary of selected filters" %}
{% set versionNumber ="004" %}
{% extends 'layout.html' %}
{% block header %}
{% include 'foundations/header-signed-in-campaign.html' %}
{% endblock %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
{{ pagetitle }}
{% endblock %}


{% block outerContent %}
{{ backLink({
  "href": "javascript:window.history.back()",
  "text": "Back",
  "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}

{% block content %}

<style>
  .nhsuk-body {
    font-size:17px;
    margin-top:3px;
    margin-bottom:2px;

  }
</style>


{% set filtersListArray = [] %}
{% set cohortsArray = [] %}

{% if (data['newCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['newCohorts']) %} {% endif %}
{% if (data['covidCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['covidCohorts']) %} {% endif %}
{% if (data['fluCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['fluCohorts']) %} {% endif %}
{% if (data['under16Cohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['under16Cohorts']) %} {% endif %}
{% if (data['immunoCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['immunoCohorts']) %} {% endif %}
{% if (data['allCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['allCohorts']) %} {% endif %}


{% if (data['commonFilters'].length > 0) %} {% set filtersListArray = filtersListArray.concat(data['commonFilters']) %} {% endif %}
{% if (data['ageFilters'].length > 0) %} {% set filtersListArray = filtersListArray.concat(data['ageFilters']) %} {% endif %}
{% if (data['locationFilters'].length > 0) %} {% set filtersListArray = filtersListArray.concat(data['locationFilters']) %} {% endif %}
{% if (data['allFilters'].length > 0) %} {% set filtersListArray = filtersListArray.concat(data['allFilters']) %} {% endif %}


{% if (data['newCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['newCohorts']) %} {% endif %}
{% if (data['covidCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['covidCohorts']) %} {% endif %}
{% if (data['fluCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['fluCohorts']) %} {% endif %}
{% if (data['under16Cohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['under16Cohorts']) %} {% endif %}
{% if (data['immunoCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['immunoCohorts']) %} {% endif %}
{% if (data['allCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['allCohorts']) %} {% endif %}

{% set cohortsArray = cohortsArray.concat("COVID-19 vaccination for people aged 75 to 115 years old") %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      Summary of your answers
    </h1>

{{ cohortsArray }}
{{ data['includeExcludeRadios']}}
{{ data['personAttributeSelector']}}
{{ data['genericOperatorsList']}}
{{ data['locationSelectListOptions']}}
{{ data['locationRegion']}}
{{ data['locationICB']}}
{{ data['value-1-suffix']}}
{{ data['value-2-suffix']}}
{{ data['output-2-suffix']}}

<ul class="nhsuk-list nhsuk-list--bullet">
  <li>{{ cohortsArray }}</li>
  <li>{{ data['includeExcludeRadios']}}</li>
  <li>{{ data['genericOperatorsList']}}</li>
  <li>{{ data['personAttributeSelector']}}</li>
  <li>{{ data['value-1-suffix']}}</li>
  <li>{{ data['value-2-suffix']}}</li>


    <li>{{ cohortsArray }}</li
    <li>{{ data['includeExcludeRadios']}}</li
    <li>{{ data['personAttributeSelector']}}</li
    <li>{{ data['genericOperatorsList']}}</li
    <li>{{ data['locationSelectListOptions']}}</li
    <li>{{ data['locationRegion']}}</li
    <li>{{ data['locationICB']}}</li
    <li>{{ data['value-1-suffix']}}</li
    <li>{{ data['value-2-suffix']}}</li
    <li>{{ data['output-2-suffix']}}</li>


</ul>


{% set filtersListArray = filtersListArray.concat(['includeExcludeRadios'].value) %}
{% set filtersListArray = filtersListArray.concat(['selectedAttrib'].value) %}
{% set filtersListArray = filtersListArray.concat(data['locationSelectListOptions']) %}
{% set filtersListArray = filtersListArray.concat(data['locationRegion']) %}
{% set filtersListArray = filtersListArray.concat(data['locationICB']) %}


    {% if cohortsArray.length > 0 %}
    <dl class="nhsuk-summary-list">

    <p class="nhsuk-body-m">These filters will be applied to your cohorts:</p>
    {% for selected in cohortsArray %}
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>{{selected}}</li>
    </ul>
    {% endfor %}
    {% endif %}


    {% for key, item in data %}

    <ul class="nhsuk-list nhsuk-list--bullet">

      {{ key }} {{ item }}
    </ul>
      {% endfor %}


<!--
      {% for key, item in data %}
      {% if item != "" %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          {{ key }}
        </dt>
        <dd class="nhsuk-summary-list__value">


          <ul class="nhsuk-list">
            <li>{{item}}</li>
          </ul>
          {% endif %}
        </dd>
      </div>

    </dl>
    {% endfor %} -->





    <ul class="nhsuk-list">
      <li><a class="nhsuk-link nhsuk-link--no-visited-state" href="/add-another">Add a new filter</a></li>
    </ul>
  </div>


</div>
{{ button({
  href: "v004/task-list-govuk?filters=done",
  text: "Save and continue"
}) }}
{{ button({
  classes:"nhsuk-button--secondary",
  href: "v004/add-filter-alt",
  text: "Save and add another"
}) }}
</div>

{% endblock %}
