{% set pagetitle ="Key details bar" %}
{% set versionNumber ="004" %}
{% extends 'layout.html' %}
{% block header %}
{% include 'foundations/header-signed-in-campaign.html' %}
{% endblock %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  {{ pagetitle }}
{% endblock %}


{% block outerContent %}
  {{ backLink({
    "href": "javascript:window.history.back()",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}


{% block content %}

<style>


      $dwp-key-details-max-width: 960px !default;
      $white-transparent: rgba(255, 255, 255, 0.3);

      .dwp-key-details-bar {
        background-color: #005eb8;

        dt,
        dd {
          border: none;
          margin: 0;
          padding: 0;
        }

        &__key-details {
          border: 0;
          margin: 0 auto;
          max-width: $dwp-key-details-max-width;
          padding: 20px 30px;
          position: relative;

        }
      }

      .dwp-key-details-bar .dwp-key-details-bar__top-block,
      .dwp-key-details-bar .dwp-key-details-bar__bottom-block {
        margin: 0;
        font-size: 1.188rem;

      }

      .dwp-key-details-bar
        .dwp-key-details-bar__key-details
        .dwp-key-details-bar__top-block::after,
      .dwp-key-details-bar
        .dwp-key-details-bar__key-details
        .dwp-key-details-bar__bottom-block::after {
        clear: both;
        content: " ";
        display: block;
      }

      .dwp-key-details-bar
        .dwp-key-details-bar__key-details
        .dwp-key-details-bar__bottom-block {
        border-top: 1px solid $white-transparent;
        content: " ";
        padding-top: 10px;
        margin-top: 6px;
        @include govuk-media-query($until: tablet) {
          border: 0;
        }
      }

      .dwp-key-details-bar .dwp-key-details-bar__key-details dd,
      .dwp-key-details-bar .dwp-key-details-bar__key-details dt {
        float: left;
        margin-right: 5px;

      }

      .dwp-key-details-bar .dwp-key-details-bar__key-details dd {
        margin-right: 20px;

      }

      .dwp-key-details-bar .dwp-key-details-bar__key-details dd:last-of-type {

      }

      .dwp-key-details-bar
        .dwp-key-details-bar__key-details
        .dwp-key-details-bar__primary {
        font-size: 2.25rem;
        font-weight: 700;
        display: block;
        margin-top: 0;
        color: #fff;

      }

      .dwp-key-details-bar
        .dwp-key-details-bar__key-details
        .dwp-key-details-bar__secondary {
        font-size: 1.5rem;
        display: block;
        margin-top: 9px;
        color: #fff;

      }

      .dwp-key-details-bar
        .dwp-key-details-bar__key-details
        .dwp-key-details-bar__status {
        padding: 5px 0 0;
        color: #005ea5;
        float: right;
        margin: 5px 0 0;

        &--dwp-default {
          color: #1d70b8;
          background-color: #fff;
        }

      }

      // example class overrides
      .dwp-key-details-bar {
        &.ex-bg-purple {
          background-color: rebeccapurple;
          .dwp-key-details-bar__key-details {
            .dwp-key-details-bar__status {
              color: rebeccapurple;
            }
          }
        }
      }







</style>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {% set cohortsArray = [] %}

      {% if (data['newCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['newCohorts']) %} {% endif %}
      {% if (data['covidCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['covidCohorts']) %} {% endif %}
      {% if (data['fluCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['fluCohorts']) %} {% endif %}
      {% if (data['under16Cohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['under16Cohorts']) %} {% endif %}
      {% if (data['immunoCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['immunoCohorts']) %} {% endif %}
      {% if (data['allCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['allCohorts']) %} {% endif %}



<h1 class="nhsuk-heading-l">Key details bar DWP</h1>


<section class="dwp-key-details-bar" aria-label="Key details">
<div class="dwp-key-details-bar__key-details">
<dl class="dwp-key-details-bar__top-block">
  <dt class="govuk-visually-hidden">Name:</dt>
  <dd class="dwp-key-details-bar__primary">Jane Doe</dd>
  <dt class="govuk-visually-hidden">National Insurance Number:</dt>
  <dd class="dwp-key-details-bar__secondary">QQ 12 34 56 X</dd>
  <dt class="govuk-visually-hidden">Claim status:</dt>
  <dd class="dwp-key-details-bar__status">
    <strong class="govuk-tag dwp-key-details-bar__status--dwp-default">
      Completed
    </strong>
  </dd>
</dl>
<dl class="dwp-key-details-bar__bottom-block">
  <dt>Date of birth:</dt>
  <dd>4 June 1972</dd>
  <dt>Case reference:</dt>
  <dd>RM PX 30</dd>
</dl>
</div>
</section>










</div>



    </div>


{% endblock %}
